Beaker==1.5.4
Brlapi==0.6.3
Flask==0.10.1
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
TwitterSearch==1.0.0
Werkzeug==0.10.4
chardet==2.2.1
cupshelpers==1.0
decorator==3.4.0
gunicorn==19.3.0
ipdb==0.8
ipython==3.1.0
itsdangerous==0.24
oauthlib==0.7.2
pycups==1.9.70
pycurl==7.19.3.1
pygobject==3.14.0
pyxdg==0.25
requests==2.5.3
requests-oauthlib==0.5.0
six==1.9.0
slip==0.6.1
slip.dbus==0.6.1
tweepy==3.3.0
twitter==1.17.0
urllib3==1.10.2
